<div class="container my-5" style="position: fixed; bottom: 0; left: 0; right:0" th:fragment="footer">
  <footer class="text-center text-white" style="position: fixed; bottom: 0; left: 0; right:0; background-color: #004063">
    <div class="container p-1 pb-0">
      <section class="mb-3">
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/natgmena" role="button"
        ><i class="bi bi-github"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/RicardoLunaRivera" role="button"
        ><i class="bi bi-github"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/systemspool" role="button"
        ><i class="bi bi-github"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-1" style="background-color: rgb(0 97 150)">
      © 2024 Copyright:
      <a class="text-white" href="/">Proyecto Veterinaria Equipo 23</a>
    </div>
  </footer>
</div>