<div class="container my-5" style="position: fixed; bottom: 0; left: 0; right:0" th:fragment="footer">
  <footer class="bg-dark text-center text-white" style="position: fixed; bottom: 0; left: 0; right:0">
    <div class="container p-1 pb-0">
      <section class="mb-3">
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-github"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-github"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-github"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-github"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="/">Proyecto Veterinaria Equipo 23</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>