<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layouts/head :: head}">
    <title>Datos De La Mascotaa</title>
</head>
<body>
<header th:insert="~{layouts/header :: header}"></header>

<br/>
<div class="container">
    <h1 class="text-center">Datos De La Mascota</h1>
    <form th:action="@{/petsv/save}" th:object="${pet}" method="post" class="col-md-8 offset-md-2">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Nombre Mascota</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Especies</label>
            <div class="col-sm-10">
                <select class="form-select" th:field="*{species}">
                    <option value="" selected>Seleccione que especie es su mascota</option>
                    <option value="Perro" th:field="*{species}">Perro</option>
                    <option value="Gato" th:field="*{species}">Gato</option>
                    <option value="Roedor" th:field="*{species}">Roedor</option>
                    <option value="Pez" th:field="*{species}">Pez</option>
                    <option value="Ave" th:field="*{species}">Ave</option>
                </select>
                <span th:if="${#fields.hasErrors('species')}" th:errors="*{species}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="race" class="col-sm-2 col-form-label">Raza</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="race" th:field="*{race}">
                <span th:if="${#fields.hasErrors('race')}" th:errors="*{race}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="birthDate" class="col-sm-2 col-form-label">Nacimiento</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">
                <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="owner" class="col-sm-2 col-form-label">Cliente</label>
            <div class="col-sm-10">
                <select class="form-select" th:field="*{owner}">
                    <option value="" selected>Seleccione un cliente</option>
                    <option th:each="owner : ${owners}" th:text="${owner.getNombreCompleto()}" th:value="${owner.getIdOwner()}" id="owner">Seleccione Un Cliente</option>
                </select>
                <span th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="veterinarian" class="col-sm-2 col-form-label">Veterinario</label>
            <div class="col-sm-10">
                <select class="form-select" th:field="*{veterinarian}">
                    <option value="" selected>Seleccione Un Veterinario</option>
                    <option th:each="veterinarian : ${veterinarians}" th:text="${veterinarian.getNombreCompleto()}" th:value="${veterinarian.getIdVeterinarian()}" id="veterinarian">Seleccione Un Veterianario</option>
                </select>
                <span th:if="${#fields.hasErrors('veterinarian')}" th:errors="*{veterinarian}"></span>
            </div>
        </div>
        <a class="btn btn-primary btn-sm-star" th:href="@{/petsv}">Regresar</a>
        <button type="submit" class="btn btn-primary float-sm-end" name="guardar" value="guardar">Guardar</button>
    </form>
</div>
<footer th:insert="~{layouts/footer :: footer}">
</footer>
</body>
</html>